<main class="container">
  <form class="form_control" [formGroup]="form">
    <div class="count">
      <span>Count: </span>
      <span> {{count}}</span>
    </div>
    <mat-form-field class="mat_form_field">
      <input matInput placeholder="Поиск" formControlName="search" class="input_search" [formControl]="searchInput">
    </mat-form-field>
  </form>
  <section class="cards_wrapper">
    @if (products.length === 0) {
      <mat-spinner class="spinner"></mat-spinner>
    } @else if (productsFilter.length > 0) {
      @for (item of productsFilter; track item.id) {
        <app-card-product [cardProduct]="item" (changeCheckboxCard)="changeCheckboxCard($event)"></app-card-product>
      }
    } @else {
      <div class="reset_container">
        <h4>Продукты не найдены</h4>
        <button matButton="filled" class="btn_reset" (click)="resetSearch()">Сбросить</button>
      </div>
    }
  </section>
</main>
